<app-header title="Hello Angular Material!"></app-header>

<div>
  <h1>Buttons</h1>
  <button mat-button color="primary">Button</button>
  <button mat-button color="accent">Button</button>
  <button mat-button color="warn">Button</button>
</div>

<div>
  <h1>Stroked Button</h1>
  <button mat-stroked-button color="primary">Button</button>
  <button mat-stroked-button color="accent">Button</button>
  <button mat-stroked-button color="warn">Button</button>
</div>

<div>
  <h1>Raised Button</h1>
  <button mat-raised-button color="primary">Button</button>
  <button mat-raised-button color="accent">Button</button>
  <button mat-raised-button color="warn">Button</button>
</div>

<app-box>
  <p>Just a test</p>
</app-box>
