@import '~@angular/material/theming';
@import './theming.scss';

@include mat-core();

$primary: mat-palette($green);
$accent: mat-palette($purple);
$warn: mat-palette($orange, 800);

$theme: mat-light-theme($primary, $accent, $warn);
// $theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
